/** Basic config file **/

configuration {
  font: "MesloLGS Nerd Font Mono 12";
  show-icons: true;
  icon-theme: "Nordzy-dark";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
@theme "themes/sidetab-nord.rasi"
